html {
    box-sizing: border-box;/* borderまでをwidthに含める */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
  background-color: grey;
}
header{
  height: 17vh;
  width: 100%;
  border-bottom: 1vh solid black;
}
main{
  height: 75vh;
}
footer{
  height:5vh;
}
